@import 'src/variables.scss';

.content {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding-top: 3rem;
    align-items: center;
    justify-content: center;

    .title {
        color: $color-blue;
    }

    .link {
        text-decoration: underline;
        font-size: 1.5rem;
        cursor: pointer;
    }
}